body {
    font-family: Verdana, 'Courier New', Courier, monospace;
}

.card {
    display: flex;
    justify-content: space-around;
    background: rgb(206, 225, 255);
    border-bottom: 10px solid blue;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.avatar-img {
    height: 200px;
}

.description-div {
    text-align: center;
}

.dottedblueborder {
    border: 2px dotted blue;
}

/*
.txt {
    background: sandybrown;
    border: 1px solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
*/